.App {
  background: #f5f5f5;
}
// color
.orange {
  color:#ee5438;
}
.green {
  color:#6ae68d;
}
.blue {
  color:#3395f9;
}
.turquoise {
  color:#4ba5a5;
}
.limeWhite {
  color: #eef5fe;
}
.purple {
  color: #6972e7;
}
